.games {

}

.games .actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    right: 1rem;
}

.games .actions a {
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.games .actions a:hover {
    background: #fff;
    color: var(--wheel-indigo);
}

[data-theme="light"] .games .actions a {
    border-color: var(--dark-background);
    color: var(--dark-background);
}

[data-theme="light"] .games .actions a:hover {
    background: var(--dark-background);
    color: #fff;
}

.games .actions button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.games .actions button svg {
    width: 2rem;
    height: 2rem;
}
